# Logs
logs
*.log
npm-debug.log*

# Node modules
node_modules/

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# dotenv environment variables file
.env

# Debug files
*.swp
*.swo
*.pid
*.seed

# Build files
/dist/
/out/
/build/

# IDE or editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace